@media screen and (min-width: 1440px) {
    body {
        background-size: 100% 300px;
    }

    .container {
        max-width: 65vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
    .container {
        max-width: 80vw;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    body {
        background-size: 100% 300px;
    }

    .container {
        max-width: 90vw;
    }
}

@media screen and (min-width: 800px) {
    .main__task-list__item__remove-button {
        opacity: 0;
    }

    .main__nav {
        background-color: var(--background-color-main);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'counter-container button-container clear-button';
    }
}

@media screen and (max-width: 799px) {
    .main__nav__button-container {
        width: 100%;
        padding: 20px;
        background-color: var(--background-color-main);
    }

    .main__nav {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'counter-container  clear-button'
            'button-container   button-container';
        row-gap: 30px;
    }

    .main__nav > * {
        background-color: var(--background-color-main);
    }

    .main__task-list__item__remove-button {
        opacity: 1;
    }
}

@media screen and (max-width: 375px) {
    body {
        background-size: auto 300px;
    }
}