* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--background-color-body);
    background-image: var(--header-background-image);
    background-repeat: no-repeat;
    background-position: top;
}

.container {
    margin: 0 auto;
}

.header {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.header__content {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
}

.header__theme-toggle {
    content: var(--theme-change-icon);
}

.main > * {
    background-color: var(--background-color-main);
}

.main__form-contanier {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.main__form-contanier__input {
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--text-color-task);
    caret-color: var(--text-color-active-button);
}

.main__form-contanier__input:focus {
    outline: none;
}

.main__task-list {
    list-style: none;
    color: var(--text-color-task);
    padding: 0;
}

.main__task-list__item {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 20px;
}

.main__task-list__item__task {
    flex-grow: 1;
}

li {
    height: 0;
    overflow: hidden;
    transition: all 0.9s ease;
    border-bottom: 2px solid var(--border-color);
}

li.show {

    height: 67px;
}

.fade li {
    transition: all 1s ease;
    opacity: 0;

}

.fade li.show {
    opacity: 1;

}

.checkbox {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    color: var(--border-color);
    width: 27px;
    height: 27px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.checkbox:hover {
    background:
        linear-gradient(var(--background-color-main), var(--background-color-main)) padding-box,
        var(--background-color-check) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.checkbox:checked {
    border: 2px solid transparent;
    background: var(--background-color-check) border-box;
    position: relative;
}

.checkbox:checked::after {
    position: absolute;
    display: block;
    content: '';
    width: 70%;
    height: 70%;
    bottom: 50%;
    right: 50%;
    transform: translate(55%, 50%);
    background-image: url('./../images/icon-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.checkbox:checked + .main__task-list__item__task {
    color: var(--text-color-task-completed);
    text-decoration: line-through;
}

.main__task-list__item__remove-button {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border: none;
    padding: 0;
    flex-shrink: 0;
}

.main__task-list__item__remove-button::before,
.main__task-list__item__remove-button::after {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--text-color-task-completed);
}

.main__task-list__item__remove-button::before {
    top: 50%;
    transform: translateY(50%) rotate(45deg);
}

.main__task-list__item__remove-button::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.main__task-list__item:hover .main__task-list__item__remove-button {
    opacity: 100%;
}

.main__nav {
    display: grid;
    align-items: stretch;
}

.main__nav > * {
    padding: 20px;
}

.main__nav__incomplete-task-counter-container {
    color: var(--text-color-button);
    font-weight: 700;
    grid-area: counter-container;
}

.button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--text-color-button);
    padding: 0;
    justify-self: end;
}

.button:hover {
    color: var(--text-color-button-hover);
}

.main__nav__button-container {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    grid-area: button-container;
    justify-self: center;
}

.main__nav__button--active {
    color: var(--text-color-active-button);
}

.main__nav__clear-button-container {
    grid-area: clear-button;
    text-align: right;
}

.footer {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.footer_text {
    color: var(--text-color-button);
}